$color-white: #fff;
$color-secondary-white: #f7f7f7;
$color-black: #010101;
$color-red: #f44336;
$color-green: #4caf50;
$color-blue: #2196f3;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-background-stats: #c9fafa9a;
$color-bg: #282c34;
$color-bg-thead-tr: #02d5e4;
$color-bg-tbody-tr-dif: rgba(67, 155, 185, 0.144);
$color-table-border: #d1dfdf65;
$color-link: #61dafb;

$max-mobile-width: 767px;
