@use "../../styles/shared";

.root {
  display: flex;
  flex-direction: column;
  background-color: shared.$color-bg;
}

.main {
  min-height: 90vh;
  color: shared.$color-primary-text;
  padding: 1rem;
}
